* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Palatino Linotype', 'Book Antiqua', Palatino, serif;
}

::-webkit-scrollbar {
  width: 0;
  height: 0;
}

html,
body {
  height: 100%;
  width: 100%;
  background: whitesmoke;
  font-family: 'DM Sans', sans-serif;
}

.margins {
  background: #fff;
  width: 960px;
  position: relative;
  margin: 0 auto;
  padding: 16px 16px;
}


.header .margins {
  background: #e0ecf1
}


.header__title {
  position: relative;
  width: 25%;
  height: 148px;
  font-size: 80px;
  float: left;
}

.header__subtitle {
  font-size: 10px;
  position: absolute;
  width: 20%;
  left: 16px;
  top: 128px;
}

.header__text {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 120px;
}

.header__text-col {
  width: 104px;
  font-size: 10px;
  text-indent: 0;
  line-height: 12px;
  font-family: Arial, Helvetica, sans-serif;
}

.service-nav {
  width: 496px;
  height: 22px;
  position: absolute;
  right: 0;
  top: 158px;
  background-color: #000;
  z-index: 99;
}

.service-nav__item {
  list-style: none;
  display: inline;
}

.service-nav__link {
  color: #FFFFFF;
  font-size: 18px;
  font-style: italic;
  text-decoration: none;
  display: block;
  float: left;
  padding: 4px 8px 4px 12px;
  width: 100px;
  background-color: #000;
}

.service-nav__link:hover, .service-nav__link:focus {
  background-color: #9BB3B7;
}

.article_head {
  z-index: 1;
  position: relative;
}

.article_head .margins {
  height: 272px;
  border-top: #000 10px solid;
  padding-bottom: 0;

}

.article_head .intro {
  position: absolute;
  font-size: 18px;
  line-height: 24px;
  text-align: right;
  margin-bottom: 16px;
  width: 224px;
  top: 43px;
}

.article_head-title {
  position: absolute;
  text-transform: uppercase;
  letter-spacing: 4px;
  font-size: 5em;
  line-height: 1em;
  font-weight: normal;
  width: 75%;
  left: 25%;
  top: 97px;
  margin-left: 16px;
}

.article_head-suptitle {
  font-size: 36px;
  font-style: italic;
  font-weight: normal;
  position: absolute;
  top: 34px;
  width: 75%;
  left: 25%;
  margin-left: 16px;
}

.article_info {
  color: #999;
  font-size: 10px;
  border-top: #666 1px solid;
  text-align: center;
  margin: 0 auto;
  padding-bottom: 4px;
  width: 480px;
}

.article > .margins {
  display: grid;
  grid-template-areas: "col-1 col-2 two-col";
  grid-template-columns: 1fr 1fr 1fr;
}

.img-container {
  grid-area: img;
  width: 100%;
  height: 100%;
}

.img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.col {
  grid-area: col;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
}

.col-1 {
  grid-area: col-1;
}

.col-2 {
  grid-area: col-2;
}

.two_col {
  grid-area: two-col;
  display: grid;
  grid-template-areas: "img img" "two-col-col two-col-col";
  grid-template-columns: 1fr 1fr;
}

.two_col-col {
  grid-area: two-col-col;
}

.extra {
  background: #e0ecf1;
  padding: 10px 10px 16px 10px;
  clear: both;
  margin-bottom: 16px;
}

.extra-title {
  text-align: center;
  font-variant: small-caps;

  font-weight: normal;
  line-height: 20px;
  margin-bottom: 8px;
  letter-spacing: 1px;
  border-bottom: 1px solid #000000;
  border-top: 1px solid #000000;
  background-color: #FFFFFF;
  padding: 10px 0 10px 0;
}

.article_head:after, .header:after, .article:after, .margins:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
